/* login-wrapper está en el div principal */
.login-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: url('../../assets/fondo_teleton.jpg') no-repeat center center;
  background-size: cover;
}

.login-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

/* login-header es el header fijo */
.login-header {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
}

.login-wrapper > * {
  position: relative;
  z-index: 1;
}

.login-logo {
  height: 40px;
  object-fit: contain;
}

/* CONTENIDO CENTRADO */
.login-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

/* FORMULARIO */
.login-form {
  background: #FFFFFF;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* TÍTULO */
.login-form h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #E30613;
  margin-bottom: 1.5rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* INPUT */
.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  min-height: 44px;
}

/* BOTÓN */
.login-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #E30613;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  min-height: 44px;
}

.login-form button:hover {
  background-color: #B8040F;
}

/* LINK: ¿Olvidaste tu contraseña? */
.forgot-password-link {
  display: block;
  margin-top: 0.75rem;
  font-size: 0.9rem;
  text-align: center;
  color: #555555;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.forgot-password-link:hover {
  color: #E30613;
  text-decoration: underline;
}
