.login-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #c40811;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.forgot-password-link {
  display: block;
  margin-top: 0.75rem;
  font-size: 0.9rem;
  text-align: center;
  color: #666;
  text-decoration: none;
}

.forgot-password-link:hover {
  color: #e50914;
  text-decoration: underline;
}


.forgot-password {
  margin-top: 1rem;
  text-align: right;
}

.forgot-password a {
  color: #555555;
  font-size: 0.9rem;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tu-clase {
    /* Ajustes específicos para tablet */
    flex-direction: row;
    padding: 2rem;
  }
}
